@media (max-width: 1000px){
    .container__slick{
        height: max-content;
    }
    .touch__box{
        display: none;
    }
}

@media (max-width: 850px){
    .slick-arrow{
        display: none;
    }
    .container{
        height: max-content;
    }
    .dignity__list{
        padding: 50px 10px 10px 10px;
    }
    .carousel{
        &__box{
            padding: 10px;
        }
        &__img{
            height: auto;
        }
    }
    .box__left{
        display: none;
    }
    .box{
        &__left{
            margin: 20px 10px;
        }
        &__right{
            margin: 50px 10px 10px 10px;
            width: 100%;
        }
    }
}
@media (max-width: 700px){
    .logo{
        width: 30px;
        height: 30px;
        margin: 0 10px;
    }
    .menu__img{
        width: 30px;
        height: 30px;  
    }
    .menu__title{
        font-size: 13px;
        padding: 0 5px;
    }
    .header{
        min-height: 50px;
    }
    .slick-arrow{
        display: none;
    }
}
@media (max-width: 450px){
    .menu__title{
        display: none;
    }
    .dignity__text, .menu__text{
        font-size: 18px;
    }
    .dignity__icon, .footer__icon{
        height: 25px;
    }

}