*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    color: #7642f4;
    font-size: 18px;
    font-weight: 21px;
    margin: 0;
}

h1,
h2 {
    font-weight: normal;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: inline-block;
}

a {
    text-decoration: none;
    color: inherit;
}

p {
    margin: 0;
    padding: 0;
}

input,
button {
    outline: none !important;
}

button {
    background-color: rgb(255 68 68);
    border-color: rgb(188 29 29 / 92%);
    width: 120px;
    height: 30px;
    margin: 5px;
}

button:active {
    background-color: rgb(188 29 29 / 92%);
}

.container {
    position: relative;
    max-width: 1250px;
    min-height: 100vh;
    margin: 0 auto;
    color: #1c005f;
    text-align: center;
    background-color: #34a8538a;
}

.box__btn {
    font-size: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: flex-start;
}

.box__input {
    display: flex;
    align-content: flex-start;
}

.input__label {
    margin: 10px;
}

.input__task {
    height: 35px;
    margin: 5px;
}

.input__todo {
    height: 35px;
    margin: 5px;
}

.task__item {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.todo__title {
    margin: 0;
}

.todo__item {
    display: flex;
    justify-content: space-between;
}

.itemTodo__title {
    width: 100%;
    padding-left: 20px;
    text-align: start;
}

.box__task {
    width: 100%;
    text-align: start;
    display: flex;
    justify-content: space-between;
}

.task__btn {
    display: flex;
    justify-content: space-evenly;
    width: 30%;
}

.list__tasksfin:nth-child(odd) {
    background-color: #38a5748c;
}

.list__tasksfin:nth-child(even) {
    background-color: #b5f7c78c;
}


/* text-decoration: line-through; */


/* mobile */

@media screen and (max-width: 645px) {
    .box__task {
        flex-direction: column-reverse;
    }
    .task__btn {
        width: 100%;
        justify-content: flex-end;
    }
}

@media screen and (max-width: 500px) {
    .box__input {
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .input__label {
        margin: 5px;
        text-align: start;
        width: max-content;
    }
    .input__task,
    .input__todo {
        width: 100%;
        order: 1;
    }
    button {
        width: 100px;
        font-size: 12px;
    }
    body {
        font-size: 14px;
    }
    h2 {
        font-size: 20px;
    }
    .itemTodo__title {
        padding: 0;
        width: 100%;
    }
    .todo__item {
        justify-content: flex-end;
        flex-wrap: wrap;
    }
    .todo__title {
        margin: 5px 0;
    }
}