@font-face{
    font-family: 'RobotoMono-Light', sans-serif;
    src: url('../fonts/RobotoMono-Light.woff2') format('woff2'),
        url('../fonts/RobotoMono-Light.woff') format('woff');
        font-weight: 300;
        font-style: normal;
        font-display: swap;
};
@font-face{
    font-family: 'RobotoMono-Regular', sans-serif;
    src: url('../fonts/RobotoMono-Regular.woff2') format('woff2'),
        url('../fonts/RobotoMono-Regular.woff') format('woff');
        font-weight: 400;
        font-style: normal;
        font-display: swap;
};
@font-face{
    font-family: 'RobotoMono-Bold', sans-serif;
    src: url('../fonts/RobotoMono-Bold.woff2') format('woff2'),
        url('../fonts/RobotoMono-Bold.woff') format('woff');
        font-weight: 700;
        font-style: normal;
        font-display: swap;
};


%Mono-Light{
    font-family: 'RobotoMono-Light', sans-serif;
    font-weight: 300;
};

%Mono-Regular{
    font-family: 'RobotoMono-Regular', sans-serif;
    font-weight: 400;
}

%Mono-Bold{
    font-family: 'RobotoMono-Bold', sans-serif;
    font-weight: 700;
}