@import"../../node_modules/normalize.css/normalize";
@import"../../node_modules/slick-carousel/slick/slick";
@import"_fonts.scss";

*,
*::after,
*::before{
    box-sizing: border-box;
}
body{
    color: #000;
    font-size: 18px;
    font-weight: 21px;
    margin: 0;
    overflow: hidden;
    @extend %Mono-Light;
    line-height: 25px;
    background-color: rgba(141, 135, 135, 0.288);
    display: flex;
    justify-content: center;
    padding: 10px 0 0 0;
}
a{
    text-decoration: none;
    color: inherit;
}
li{
    list-style-type: none
}
ul{
    margin-left: 0;
    margin: 0;
    padding: 0;
}
p{
    margin: 0;padding: 0;
}
.display__none{
    display: none;
}
.container{
    max-width: 650px;
    max-height: max-content;
    padding: 10px;
    background-color: #0000004f;
}
.monitor{
    &__box{
        height: 100px;
        margin-bottom: 10px;
    }
    &__input{
        width: 100%;
        height: 70px;
        font-size: 60px;
        text-align: end;
        color: #000000bb;
        letter-spacing: 3px;
        border: none;
        outline:none;
    }
    &__input-mini{
        width: 100%;
        height: 30px;
        font-size: 20px;
        text-align: end;
        color: #0000008f;
        border: none;
        outline:none;
    }
}
.boost{
    &__box{
        height: max-content;
        padding: 5px;
    }
    &__btn{
        width: 40px;
        height: 20px;
        font-size: 15px;
        margin-right: 2px;
        border: none;
        outline:none;
        background-color: #999898;
    }
}
.box__btn{
    position: relative;
    display: flex;
    justify-content: flex-start;
    padding-top: 5px;
}
.m__input{
    position: absolute;
    top: -28px;
    right: -5px;
    text-align: right;
    width: 200px;
    height: 30px;
    font-size: 25px;

}
.input__message{
    background-color: #999898;
    display: block;
    width: 450px;
    border: none;
    outline:none;
    color: #790b0b;
}
.m__input{
    visibility: hidden;
}
.key{
    &__box{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-between;
        align-content: space-around;
    }
    &__btn{
        color: #000000bb;
        width: 25%;
        height: 80px;
        font-size: 25px;
        border: 1px solid #0000004f;
        text-align: center;    
        outline:none;
    }
}
.no-touch {
    .key__btn:hover, .key__btn:active, .key__btn:visited {
        background-color: #bab9b9;
    }
    .boost__btn:hover, .boost__btn:active, .boost__btn:visited {
        background-color: #efefef;
    }
    
}
.fraction {
    display: inline-block;
    text-align: center;    
}
.bottom{
    border-top: 1px solid #000;
    display: block;
    max-width: max-content;
    margin: 0 auto;
}







@import"_mobile.scss";
